body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #ff69b4; 
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}

section {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #333; 
}

input[type="number"], input[type="password"] {
    width: calc(100% - 12px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #ff69b4; 
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #d23a77; 
}

p {
    margin-top: 10px;
    color: #333; 
    text-align: center;
}

footer {
    margin-top: 30px;
    text-align: center;
    color: #888; 
}
